@model Presentation.Multitenant.Web.Features.Stocks.StockListViewModel
@using Presentation.Multitenant.Web.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources> translate
<header>
    <div class="container">
        <h1>@Model.Heading</h1>
        <h2>@Model.Slogan</h2>
    </div>
</header>
<section class="main">
    <div class="container">
        @foreach (var item in Model.Items)
        {

            <div class="stock-item">
                <h1>@item.Title</h1>
                <div class="row">
                    <div class="col-6">
                        <img src="https://carsales.pxcrush.net/carsales/@item.PhotoUrl" />
                    </div>
                    <div class="col-6">
                        <span class="keydetails">Price: @item.Price</span>
                        <span class="keydetails">Odometer: @item.Odometer</span>
                        <a href="/enquire" class="btn btn-primary">@translate["View Details"]</a>
                    </div>
                </div>
            </div>
        }
    </div>

</section>
